@use "variables" as *;
@use "fonts";

// ==============================================
// Layout Principal
// ==============================================

/*#root {
  max-width: 1280px;
  text-align: center;
  background-color: $primary-blue;
  display: flex;

  @media (max-width: px) {}
}*/

// ==============================================
// Layout Game
// ==============================================
.game-title {
  font-family: $font-game;
  color: $white;
  margin: $spacing-md 0 $spacing-sm 0;
}

// ==============================================
// Layout Pokemon Cards
// ==============================================

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-xsm;
}

.pokemon-card {
  position: relative; // TO BE DELETED
  top: 20vh; // TO BE DELETED
  left: 5vw; // TO BE DELETED

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $white;
  border-radius: $container-radius;
  padding: $spacing-xsm;
  gap: $spacing-xsm;
  border: 3px solid $dark-grey;

  width: 200px;
  height: 280px;

  &-img {
    width: 100%;
    flex: 1;
    min-height: 0;
    object-fit: contain;
  }

  &-name {
    font-family: $font-card;
    color: $dark-grey;
    font-weight: bold;
    flex-shrink: 0;
  }
}

.difficulty-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: $z-index-modal;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  border-radius: $container-radius;
  padding: $spacing-sm;
  gap: $spacing-xsm;
  border: 3px solid $dark-grey;

  &-title {
    font-family: $font-card;
    font-size: $font-size-small;
    text-align: center;
  }

  &-button {
    font-family: $font-game;
    background-color: $white;
    font-size: $font-size-small;
    border: none;
    cursor: pointer;
    transition: all $transition-normal;

    &:hover {
      transform: translateY(-1px);
      color: $primary-blue;
    }

    &:focus,
    &:focus-visible {
      outline: none;
      border: 2px solid $dark-grey;
      border-radius: $container-radius;
      padding: 0.5 * $spacing-xsm $spacing-xsm;
      transform: translateY(-1px);
      color: $primary-blue;
    }
  }
}
